{% extends "base.twig" %}

{% block content %}

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header" style="background-image: url('')">
			<div class="container">
					<div class="row">
							<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
									<div class="page-heading">
											<h1>{{apiResponse.Episode.BrandTitle}}</h1>
											<hr class="small">
											<span class="subheading">{{apiResponse.Episode.Title}}</span>
									</div>
							</div>
					</div>
			</div>
	</header>

	<!-- Main Content -->
	<div class="container">
			<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

						<p>
							<img src="{{apiResponse.Episode.ImageUri}}" class="img-responsive" />
						</p>

							{{apiResponse.Episode.Summary}}
					</div>
			</div>
	</div>

	<hr>

{% endblock %}
